<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/formstyle.css">
</head>
<body>
    <div class="container">
        <h1 class="form-heading">Create New Post</h1>
        <form method="post" action="/posts" class="post-form">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required class="form-input">
            </div>
            <div class="form-group">
                <label for="content">Content:</label>
                <textarea name="content" id="content" cols="30" rows="10" class="form-textarea" required></textarea>
            </div>
            <button class="btn">Send</button>
        </form>
        <a  class="btn" href="http://localhost:8080/posts">Back</a>
    </div>
</body>
</html>
